/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding: 20px;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (width <= 600px) {
  .page {
    padding: 10px;
  }
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  height: 100%;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

.decor-zona {
  position: absolute;
  color: var(--accent-color);
  top: 0px;
  right: 28px;
  font-size: 18px;
  font-weight: 400;
  line-height: 138.889%;
  text-transform: uppercase;
}

.decor-zona::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  top: 7px;
  right: -19px;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: center;
}

@media (width <= 768px) {
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }
}

.header__theme-menu-list {
  align-self: center;
  display: flex;
  gap: 23px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: var(--accent-color);
}

@media (width <= 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    gap: 18px;
    padding-right: 5px;
  }
}

.header__theme-menu-button {
  border: none;
  background: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-left: -20px;
}

@media (width <= 600px) {
  .title {
    margin-left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

.title-decor {
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  color: var(--accent-text-color);
}

.header_description-text {
  grid-row: 3;
  width: 50%;
  justify-self: end;
  align-self: center;
}

@media (width <= 600px) {
  .header_description-text {
    width: 100%;
  }
}

.about {
  padding-top: 80px;
}

@media (width <= 600px) {
  .about {
    padding-top: 50px;
  }
}

.section_grid {
  display: grid;
  grid-template-columns: 32% 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

@media (width <= 600px) {
  .section_grid {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 1fr;
  }
}

.section__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 130%;
  color: var(--accent-color);
}

.section__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 23.4px;
  color: var(--text-color);
}

.heading {
  margin-bottom: 10px;
}

.section__text_grid {
  grid-column: 2;
  grid-row: 2;
}

@media (width <= 600px) {
  .section__text_grid {
    grid-column: 1;
    grid-row: 3;
  }
}

.section__text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__text_link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__text_link:focus {
  outline: none;
}

.section__text_link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__itams {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

@media (width <= 768px) {
  .section__itams {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(min-content, 4);
  }
}

.section_itams-header {
  grid-row: 1;
  grid-column: 1;
}

@media (601px <= width < 800px){
  .section__itams-header {
    width: 32%;
  }
}

.section__point {
  grid-row: 2;
}

@media (width <= 768px) {
  .section__point:nth-child(2) {
    grid-row: 2;
  }
  .section__point:nth-child(3) {
    grid-row: 3;
  }
  .section__point:nth-child(4) {
    grid-row: 4;
  }
}

.heading_regular {
  font-weight: normal;
}

.about-grid {
  display: grid;
  grid-template-columns: 32% 1fr;
  gap: 20px;
}

@media (width <= 600px) {
  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
  }
}

.section__unlist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, min-content);
gap: 20px;
}

.heading_bottom {
  margin-bottom: 0;
}
.sections-image {
display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

.sections-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sections-image img:nth-child(1) {
  grid-row: 1/span 1;
grid-column: 1/span 2;
}

.sections-image img:nth-child(2) {
  grid-column: 3/span 1;
  grid-row: 1/span 2;
}

.sections-image img:nth-child(3) {
  grid-column: 1/span 1;
  grid-row: 2/span 3;
}

.sections-image img:nth-child(4) {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}

.sections-image img:nth-child(5) {
  grid-column: 2/span 2;
  grid-row: 3/span 2;
}

@media (width <= 600px) {
  .sections-image {
    grid-template-columns: 1fr;
    gap: 10px;
    padding-top: 0;
  }
}

@media (width <= 600px) {
  .sections-image img:nth-child(1) {
  grid-column: 1/span 1;
  grid-row: span 1;
  }
  
  .sections-image img:nth-child(2) {
    grid-column: 1/span 1;
    grid-row: span 1;
  }
  
  .sections-image img:nth-child(3) {
    grid-column: 1/span 1;
    grid-row: span 1;
  }
  
  .sections-image img:nth-child(4) {
    grid-column: 1/span 1;
    grid-row: span 1;
  }
  
  .sections-image img:nth-child(5) {
    grid-column: 1/span 1;
    grid-row: span 1;
  }
}

.footer {
  position: relative;
  margin-top: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 600px) {
  .footer {
    margin-top: 50px;
  }
}

.title-footer {
  margin-left: 0;
  text-align: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}